.carousel .item {
    height: 550px;
  }
  
  .item img {
      min-height: 550px;
      object-fit: cover;
      filter: brightness(40%);
  }
  .fa-solid{
    color: gold;
  }
  @media only screen and (max-width: 576px) {
    .items{
        flex-direction: column;
      }
      .items img{
        margin-bottom: 10px;
        width: 100%;
      }
  }
  @media only screen and (min-width:768px) {
    .accordion-item{
      width: 70%;
      margin: 0 auto;
    }
  }